$background-color: #323232;
$text-color: #ffffff;

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  background-color: $background-color;
  color: $text-color;

}

//[type="checkbox"] {
//  display: none !important;
//}

.test:hover {
  background-color:  blue;
}

.test:checked {
  background-color:  red;
}

